<?php
require __DIR__ . '/vendor/autoload.php';
$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__);
return (new MattAllan\LaravelCodeStyle\Config())
        ->setFinder($finder)
        ->setRules([
            '@Laravel' => true,
            '@Laravel:risky' => true,
            // Project specific
            'array_indentation' => true,
            'is_null' => true,
            'modernize_types_casting' => true,
            'method_argument_space' => [
                'on_multiline' => 'ensure_fully_multiline',
            ],
        ])
        ->setRiskyAllowed(true);
